.Gallery{
    display:  flex;
    padding: 5% 1%;
    margin: 2% 4%;
}
.image_container{
    display: flex;
    height: auto;
    width: 60%;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.text_container{
    width: 30%;
    padding: 10px;
    position: sticky;
}
.image_container img{
    height: 300px;
    margin: 0% 2%;
    border-radius: 0%;
}
