.Gallery{
    display:  flex;
    padding: 5% 0%;
    margin: 2% 4%;
}
.image_container{
    display: flex;
    height: auto;
    width: 70%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.text_container{
    width: 30%;
    padding: 10px;
    position: sticky;
}
.image_container img{
    height: 350px;
    margin: 0% 2%;
    border-radius: 0%;
}
.arrow_container {  
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more_button{
    border: none;
    background: transparent;
    cursor: pointer;
}
.more_button:hover{
    border: none;
    background: transparent;
}
i:hover{
    transform: translateX(6px);
    transition: 100ms;
}