.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.des_item {
    display: flex;
    width: 75%;
    border: 1px solid var(--theme-color);
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
    border-radius: 10px;
}

.des_item img {
    width: 20%;
    height: auto;
}

.text_container {
    width: 60%;
    align-self: flex-end;
}

@media (max-width: 768px) {
    .des_item {
        flex-direction: column;
        align-items: center;
        width: 75%;
    }

    .des_item img {
        width: 100%;
        order: 1;
        margin-bottom: 15px;
    }

    .text_container {
        width: 100%;
        order: 2;
        text-align: center;
    }

    .des_item:nth-child(even) {
        flex-direction: column;
    }

    .des_item:nth-child(even) img {
        order: 1;
    }

    .des_item:nth-child(even) .text_container {
        order: 2;
    }
}