.container {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--detail-font);
    justify-content: center;
    gap: 20px; 
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}

.text_container {
    padding: 20px;
    text-align: center;
}

.des_item {
    width: 25%;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid var(--theme-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: auto;
}

button {
    margin-top: 20px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(187, 165, 110);
    border-radius: 10px;
    transition: ease-in 150ms;
    color: var(--theme-color);
}

button:hover {
    background-color: rgb(187, 165, 110);
    color: #000000;
}

@media (max-width: 768px) {
    .container {
        display: block;
        margin: auto;
        padding: 0 10px; 
    }
    .des_item {
        width: 100%;
        border-radius: 15px;
        margin: 20px 0;
        border: none;
        overflow: hidden;
    }
    .image_container img {
        border-radius: 15px 15px 0 0;
    }
}
